# lbl2vec

By Thomas Meeusen and Taiki Papandreou

In [1]:
# imports
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('0-10000-labeled.csv')
cols = df.columns.tolist()
cols

['article', 'highlights', 'id', 'label']

In [3]:
df = df.drop(['id'], axis=1)
df[:3]

,article,highlights,label
0,"LONDON, England (Reuters) -- Harry Potter star...",Harry Potter star Daniel Radcliffe gets £20M f...,0.0
1,Editor's note: In our Behind the Scenes series...,Mentally ill inmates in Miami are housed on th...,0.0
2,"MINNEAPOLIS, Minnesota (CNN) -- Drivers who we...","NEW: ""I thought I was going to die,"" driver sa...",1.0

In [5]:
cols = ['label', 'highlights', 'article']
df = df[cols]
df[:3]

,label,highlights,article
0,0.0,Harry Potter star Daniel Radcliffe gets £20M f...,"LONDON, England (Reuters) -- Harry Potter star..."
1,0.0,Mentally ill inmates in Miami are housed on th...,Editor's note: In our Behind the Scenes series...
2,1.0,"NEW: ""I thought I was going to die,"" driver sa...","MINNEAPOLIS, Minnesota (CNN) -- Drivers who we..."

In [6]:
train, test = train_test_split(df, test_size=0.2)

In [9]:
# save these as csv files
train.to_csv('data/train.csv', index=False)
test.to_csv('data/test.csv', index=False)